@model IEnumerable<RelacaoAlunoProfessor.Entidades.Aluno>

@{
    ViewData["Title"] = "Lista de Alunos";
}

<h1>Lista de Alunos</h1>

<form action="/Aluno/Index" method="get">
    <div class="card">
        <div class="card-header">Pesquisar Alunos</div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <a href="Aluno/Create" class="btn btn-success">Criar Novo Aluno </a>
                </div>
                <div class="col-4">
                    <input type="text" name="pesquisa" class="form-control" placeholder="Pesquisar" />
                    <select name="TipoPesquisa" class="form-control">
                        <option value="Todos">Pesquisar por Todos</option>
                        <option value="Nome">Pesquisar por nome</option>
                        <option value="CPF">Pesquisar por cpf</option>
                    </select>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-success">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
